html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* main {
  width: 100%;
  padding-bottom: 110px;
} */

footer {
  padding-bottom: 110px;
}
