@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 224, 242, 254; /* sky-100 */

  --background-end-rgb: 234, 234, 234;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 54, 59, 60;
    --background-end-rgb: 54, 59, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(var(--background-end-rgb), 0.75)
  );
}
